<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Remote Controller</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>

<form method=post>
            
            <div class="container_switch_music">
                    <div class='container__switch_up'>
                        <button type='submit' class='switch_up' name='query' value='switch_up'>></button>
                    </div>
                
                    <div class='container__switch_down'>
                        <button type='submit' class='switch_down' name='query' value='switch_down'><</button>
                    </div>
                    <hr>
                    <div class="container__pause_audio">
                        <button type="submit" class="pause_audio" name="query" value="pause">||</button>
                    </div>
            </div>
            
            <div class="container">
            
                <div class='first_button__take_more'>
                    <button type='submit' class='take_more' name='query' value='volume_up'>+</button>
                </div>
            
                <div class='second_button__take_less'>
                        <button type='submit' class='take_less' name='query' value='volume_down'>-</button>
                </div>

                <div class="third_button__mute">
                    <button type="submit" class="mute" name="query" value="mute">
                        🔇        
                    </button>
                </div>

            </div>
            
</form>
    
    
</body>
</html>